* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/*NAVBAR  */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  width: 100%;
  gap: 30px;
  background-color:  #ffffff;
  flex-wrap: wrap;
}

.logo {
  width:clamp(100px, 15vw, 150px);
  height: auto;
}

.nav-center {
  display: flex;
  gap: clamp(12px, 2vw, 24px);
}

.nav-center a {
  color: #000000;
  /* font-weight: 400; */
  white-space: nowrap;
  text-decoration: none;
}

.current-page {
  border-bottom: 2px solid #000000;
}
.search-container {
  position: relative;
  flex: 1;
  min-width: 200px;
  max-width: 500px;
}

.search-icon {
  position: absolute;
  margin: 12px;
  width: 15px;
  height: auto;
}

.search-bar {
  width: 100%;
  padding: 10px 16px 10px 48px;
  border: none;
  background-color: #e6e6e6;
  border-radius: 62px;
  font-size: 14px;
  outline: none;
}

.nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon-btn {
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.icon-btn img {
  width: 20px;
  height: auto;
}

/* HERO SECTION */
.hero-section {
  background-color: #ffffff;
  padding: 40px;
}

.hero-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E6DCD3;
  border-radius: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  flex: 1;
  max-width: 600px;
}

.hero-heading {
  font-size: 80px;
  font-weight: 900;
  color: #000000;
  line-height: 1;
  margin-bottom: 30px; 
}

.highlight-box {
  background-color: #bda18c;
  padding: 5px 15px;
  display: inline-block;
}

.hero-subtitle {
  font-size: 18px;
  color: #3F352C;
  margin-bottom: 40px;
}

.hero-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 18px 55px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #3F352C;
}

.hero-right {
  flex: 1;
  max-width: 600px;
}

.hero-right img {
  width: 100%;
  height: auto;
;
}


/* CATEGORIES SECTION */
.categories-section {
  background-color: #ffffff;
  padding: 60px 40px;
}

.categories-container {
  max-width: 1400px;
  margin: 0 auto;
}

.categories-heading {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.category-card {
  background-color: #E6DCD3;
  cursor: pointer;
  box-shadow: 0 0 10px #3F352C;
}

.category-card:hover {
  transform: translateY(-8px);
}

.category-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-color: #ffffff;
}

.category-image img {
  width: 100%;
  height: auto;
  min-height: 250px;
  object-fit: cover;
}

.category-name {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #3F352C;
  text-align: center;
}

/* PROMOTIONAL SALE SECTION */
.promo-section {
  padding: 40px;
  background-color: #ffffff;
}

.promo-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E6DCD3;
  border-radius: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-left {
  flex: 1;
}

.promo-left img {
  width: 100%;
  border-radius: 20px;
}

.promo-right {
  flex: 1;
  padding-left: 40px;
}

.promo-heading {
  font-size: 70px;
  font-weight: 900;
  color: #000000;
  line-height: 1;
  margin-bottom: 30px;
}

.promo-highlight {
  background-color: #bda18c;
  padding: 5px 15px;
  display: inline-block;
}

.promo-description {
  font-size: 20px;
  color: #3F352C;
  margin-bottom: 20px;
  line-height: 1;
}

.promo-date {
  font-size: 24px;
  font-weight: 700;
  color: #3F352C;
  margin-bottom: 10px;
}

.promo-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 18px 55px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* FOOTER */
.footer {
  background-color: #E6DCD3;
  color: #000000;
  padding: 40px 40px;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

.footer-bottom {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 25px;;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}