* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #3F352C;
    display: flex;
    flex-direction: column;
}

.contact {
    flex: 1;
}

.container {
    width: 600px;
    margin: 0 auto;
    
}


h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.wrapper {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.cont-card {
    background-color: #E6DCD3;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.cont-card input, 
.cont-card textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #bda18c;
    border-radius: 6px;
    font-size: 16px;
    background: #ffffff;
}

.cont-card button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.cont-card button:hover {
    background-color: #3F352C;
}

.info { 
    display: flex;
    width: 100%;
    gap: 25px;
    text-align: center;
}

.item {
    padding: 24px;
    background-color: #E6DCD3;
    border-radius: 8px;
}

.item p {
    color: #3F352C;
    font-size: 14px;
}
