* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* HERO SECTION */
.hero-section {
  background-color: #ffffff;
  padding: 40px;
}

.hero-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E6DCD3;
  border-radius: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  flex: 1;
  max-width: 600px;
}

.hero-heading {
  font-size: 80px;
  font-weight: 900;
  color: #000000;
  line-height: 1;
  margin-bottom: 30px; 
}

.highlight-box {
  background-color: #bda18c;
  padding: 5px 15px;
  display: inline-block;
}

.hero-subtitle {
  font-size: 18px;
  color: #3F352C;
  margin-bottom: 40px;
}

.hero-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 18px 55px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #3F352C;
}

.hero-right {
  flex: 1;
  max-width: 600px;
}

.hero-right img {
  width: 100%;
  height: auto;
;
}


/* CATEGORIES SECTION */
.categories-section {
  background-color: #ffffff;
  padding: 60px 40px;
}

.categories-container {
  max-width: 1400px;
  margin: 0 auto;
}

.categories-heading {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.category-card {
  background-color: #E6DCD3;
  cursor: pointer;
  box-shadow: 0 0 10px #3F352C;
}

.category-card:hover {
  transform: translateY(-8px);
}

.category-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-color: #ffffff;
}

.category-image img {
  width: 100%;
  height: auto;
  min-height: 250px;
  object-fit: cover;
}

.category-name {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #3F352C;
  text-align: center;
}

/* PROMOTIONAL SALE SECTION */
.promo-section {
  padding: 40px;
  background-color: #ffffff;
}

.promo-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E6DCD3;
  border-radius: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-left {
  flex: 1;
}

.promo-left img {
  width: 100%;
  border-radius: 20px;
}

.promo-right {
  flex: 1;
  padding-left: 40px;
}

.promo-heading {
  font-size: 70px;
  font-weight: 900;
  color: #000000;
  line-height: 1;
  margin-bottom: 30px;
}

.promo-highlight {
  background-color: #bda18c;
  padding: 5px 15px;
  display: inline-block;
}

.promo-description {
  font-size: 20px;
  color: #3F352C;
  margin-bottom: 20px;
  line-height: 1;
}

.promo-date {
  font-size: 24px;
  font-weight: 700;
  color: #3F352C;
  margin-bottom: 10px;
}

.promo-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 18px 55px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}