/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    width: 100%;
    gap: 30px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.logo {
    width: clamp(100px, 15vw, 150px);
    height: auto;
}

.nav-center {
    display: flex;
    gap: clamp(12px, 2vw, 24px);
}

.nav-center a {
    color: #000000;
    white-space: nowrap;
    text-decoration: none;
}

.current-page {
    border-bottom: 2px solid #000000;
}

.search-container {
    position: relative;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
}

.search-icon {
    position: absolute;
    margin: 12px;
    width: 15px;
    height: auto;
}

.search-bar {
    width: 100%;
    padding: 10px 16px 10px 48px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 62px;
    font-size: 14px;
    outline: none;
}

.nav-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.icon-btn {
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.icon-btn img {
    width: 20px;
    height: auto;
}

.btn-signup,
.btn-login {
    background-color: #000000;
    color: #FFFFFF;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn-signup:hover,
.btn-login:hover {
    background-color: #3F352C;
}

/* FOOTER */
.footer {
  background-color: #E6DCD3;
  color: #000000;
  padding: 40px 40px;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

.footer-bottom {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 25px;;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}