* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
    .similar-products,
    .customer-viewed-items{
        flex-direction: column;
        flex-wrap: wrap;
        width: 250px;
        height: auto;
    }
}
.wrapper{
    margin: 50px 50px;
}
a {
    text-decoration: none;
}

.heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
    margin: 5px 0px;
    color: rgb(87, 30, 7);

}

hr {
    color: black;
}

.main-prod-img {
    width: 80%;
    border: 2px solid whitesmoke;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.prod-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    vertical-align: top;
}

.rating {
    font-size: 20px;
}

.price {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(182, 22, 22);
}

span {
    font-weight: bold;
}

.price-line {
    color: rgb(73, 71, 71);
}

.select-size {
    font-weight: bold;
    font-size: 20px;
    color: rgb(98, 98, 98);
}

.buttons {
    display: inline-block;
    justify-content: space-between;
}

.size-buttons,
.dis-size-buttons {
    font-size: 20px;
    padding: 10px 15px;
    border: 2px solid rgb(153, 148, 148);
    font-weight: bold;
    width: 60px;
}

.dis-size-buttons {
    text-decoration: line-through;
}

.size-buttons:hover {
    color: white;
    background-color: rgb(182, 22, 22);
    border: 2px solid rgb(182, 22, 22);
}

.add-to-cart-btn {
    width: 240px;
    padding: 15px 30px;
    border: 2px solid rgb(182, 22, 22);
    font-weight: bold;
    font-size: 20px;
    color: rgb(182, 22, 22);
    margin: 20px 20px;
}

.add-to-cart-btn:hover {
    background-color: rgb(182, 22, 22);
    color: white;
}

.buy-now-button {
    width: 240px;
    padding: 16px 40px;
    border: 2px solid rgb(182, 22, 22);
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(182, 22, 22);
    color: white;
    margin: 20px 20px;
}

.buy-now-btn:hover {
    transition: ease-in-out 0.15;
    transform: scale(1.1);
}

.add-to-wishlist-btn {
    width: 300px;
    padding: 15px 30px;
    border: 2px solid rgb(182, 22, 22);
    font-weight: bold;
    font-size: 20px;
    color: rgb(182, 22, 22);
    margin: 20px 0px;
    align-content: center;
    display: block;
    margin: 0 auto;
}

.add-to-wishlist-btn:hover {
    background-color: rgb(182, 22, 22);
    color: white;
}

.quantity-btn {
    font-size: 20px;
    border: 2px solid rgb(153, 148, 148);
    font-weight: bold;
    width: 50px;
}

.add-quantity-btn {
    font-size: 20px;
    border: 2px solid rgb(153, 148, 148);
    font-weight: bold;
    width: 40px;
}

.add-quantity-btn:hover {
    background-color: black;
    color: white;
}

.product-description,
.product-details {
    font-size: 20px;
    line-height: 40px;
}

.report-issue {
    font-size: 20px;
}

i {
    color: black;
    font-size: 20px;
}

.share {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 2px 2px;
    font-weight: bold;
}

.share:hover {
    text-decoration: underline;
}

.icons-btn {
    font-size: 20px;
}

.similar-img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 240px;
    border-radius: 10px;
    border: 2px solid white;
}

.similar-products,
.customer-viewed-items {
    display: flex;
    flex-direction: row;
}

.price-tags {
    font-weight: bold;
    color: rgb(182, 22, 22);
}

.related-products,
.viewed-products {

    border-radius: 10px;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.star-rating {
    font-size: 22px;
    color: blue;
    padding-bottom: 10px;


}

.no-of-ratings {
    margin: 10px 0px;
    color: rgb(71, 69, 69);
}

meter {
    width: 280px;
    height: 30px;
    margin: 0px 15px;
}

.customer-reviews h2 {
    font-size: 35px;

}

.reviews-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    font-size: 20px;
}

.help,
.writing-review {
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 30px;
    margin: 10px 2px;
}

.name-1,
.name-2,
.name-3 {
    font-weight: bold;
    margin: 15px 0px;
}

.review-date {
    color: rgb(98, 98, 98);
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 8px;
}

.hr {
    width: 320px;
}

.purchase {
    color: rgb(178, 22, 22);
    margin: 0px 6px;
}