*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: #3f352c;
  font-family: Arial, sans-serif;   
}
body{
  height:100vh;
  display:flex;
  box-shadow: #4d4539;
  justify-content:center;
  align-items:center;
  background: #f7f5f2;
  font-family:Arial, sans-serif;
}
.signup{
  width:400px;
  padding:40px;
  color: #e6dcd3;;
  background:rgb(133, 110, 104);
  border-radius:12px;
  text-align:center;
}
.signup div{
  margin: 20px;
}
.signup h1{
  margin-bottom:25px;
  font-size:26px;
  letter-spacing:1px;
}
.one input,
.two input,
.three input,
.four input,
.five input
{
  width:100%;
  padding:12px;
  font-size:15px;
  border:2px solid #ccc;
  border-radius:6px;
}
.button{
  margin-top:10px;
}
.button button{
  width:100%;
  padding: 10px;
  background:#41362e;
  color:white;
  border:none;
  border-radius:6px;
  font-size:15px;
  cursor:pointer;
}
  
p{
  margin-top:20px;
}

a{
  text-decoration:none;
  color:#2575fc;
  font-weight:bold;
}